#URL rewriting (npr. myproject.com/controller/action/1/2/3)
RewriteEngine On

#Ne dovoli gledanja v npr. /public/
Options -Indexes

#If not in root folder, then /slofurs/, otherwise delete
RewriteBase /slofurs/

#Rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#404 page
ErrorDocument 404 /slofurs/app/sites/404.php