/* https://cssfx.dev/ */
#loading{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:white;
}
.balls {
	padding-top:20%;
	margin: 0 auto;
  width: 4em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.fursuit{
  cursor: pointer;
}
.card-round{
  border-radius: 16px;
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #2196F3;
}

.balls div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {
  50%,
  100% {
    transform: translateX(95%);
  }
}

@keyframes right-swing {
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(100%);
  }
}

html, body, h1, h2, h3, h4, h5, h6{
	font-family: 'Muli', sans-serif;
}
html, body{
	height: 100%;
}
.roundImg{
	border-radius: 16px 16px 0 0;
	width: 100%;
}
.roundHeaderTop{
	border-radius: 8px 8px 0 0;
}
.roundXTop{
	border-top-right-radius: 8px;
}
.photoContainer{
	height:158px;
	width:158px;
	margin: 0 auto;
  text-align: center;
}
/*.card{
	width: 250px;
	min-height: 173px;
	display: inline-block;
	border-radius: 16px;
	color: #000;
	background-color: #f1f1f1;
	cursor: pointer;
	margin: 0 7px;
	position: relative;
}
.eventImage{
	z-index:0;
	position: absolute;
	left: 230px;
	width:110px;
	height:173px;
}
.fixer{
	position: relative;
	width: 350px;
}*/
.card{
  width:250px;
  border: 0px solid white!important;
  transition: box-shadow .3s;
}
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.img-container{
	position: relative;
	display: inline-block;
}
.confirmation{
  max-width: 200px;
  position: absolute;
  right:-20px;
  top:30px;
  border: 0px solid white!important;
}
textarea{
	resize: vertical;
	height: 104px;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://events.slofurs.org/public/img/header-2.jpg");
  min-height: 100%;
  filter: grayscale(30%);
}

.alerts-box {
  position: fixed;
  right: -500px;
  bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 8px -2px #d7d7d7;
  z-index: 9998;
  border-radius: 10px;
  opacity: 0;
}
.alerts-box-icon {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.alerts-box-icon i {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
}
.alerts-box-text {
  display: inline-block;
  vertical-align: middle;
  height: 64px;
  padding: 0px 15px;
}
.alerts-box-text span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #484848;
  font-size: 13px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-28 10:19:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * animation scale-in-center
 * ----------------------------------------
 */
 .scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}
@keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}
@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

.display-bottomleft{
  position:absolute;
  left:0;
  bottom:0;
}
.display-bottomright{
  position:absolute;
  right:0;
  bottom:0;
}
.display-left{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}
